In [10]:
#Importing Libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings 
warnings.filterwarnings("ignore")

In [11]:
#importing Data
df = pd.read_csv('Salary_Data.csv')

In [12]:
#Undersatnading the data
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [13]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [16]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [86]:
X = df.iloc[:,0].values
y = df.iloc[:,-1].values

In [87]:
#Splitting datasets
from sklearn.model_selection import train_test_split
X_train,y_train, X_test, y_test = train_test_split(X,y, test_size= 0.3 ,random_state =0)

In [94]:
#Reshaping the arrays (1,-1)
X_train = X_train.reshape(1,-1)
y_train = y_train.reshape(1,-1)

In [95]:
#Importingh Regression modle
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [96]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)